.sign-up-bkg {
  background-color: #104DA1;
}

.sign-up-header {
  position: relative;
  height: 160px;
  padding: 40px 0px 0px 0px;
  margin: 0px 40px 20px 40px;
}

.sign-up-bottom {
  text-align: center;
}
.sign-up-catchphrase {
  height: 140px;
  line-height: 70px;
  margin: auto;
  color: white;
  font-size: 36px;
}

.sign-up-definition {
  line-height: 30px;
  height: 60px;
  font-size: 18px;
}

.sign-up-definition>strong {
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 1.5px;
}


.sign-up-form {
  height: 230px;
  padding: 20px 0px 0px 0px;
  color: white;
  font-size: 20px;
}

.sign-up-baity {
  background-color: white;
}

.sign-up-form>form>input[type="text"],
.sign-up-form>form>input[type="password"],
.sign-up-form>form>select,
.sign-up-form>form>select>option {
  background-color: #3260c7;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  height: 40px;
  width: 180px;
  padding: 10px 10px 10px 20px;
  margin: 20px;
  border: 0px;
  text-align: left;
  display: inline-block;
}

.log-in-form {
  height: 100%;
  width: 100%;
  padding: 20px 0px 0px 0px;
  color: white;
  font-size: 20px;
  text-align: center;
  background-color: #104DA1;
  padding: 0px;

}

.log-in-form>form>input[type="text"],
.log-in-form>form>input[type="password"],
.log-in-form>form>select,
.log-in-form>form>select>option {
  background-color: #3260c7;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  height: 40px;
  width: 180px;
  padding: 10px 10px 10px 20px;
  margin: 20px;
  border: 0px;
  text-align: left;
}

.log-in-form>.errors {
  font-size: 17px;
  width: 100%;
}

.input-gender {
  width: 100px !important;
}

.input-zip {
  width: 70px !important;
}

.bday-day {
  width: 50px !important;
  margin-right: 0px !important;
}

.bday-month {
  width: 120px !important;
  margin-right: 0px !important;
}

.bday-year {
  width: 90px !important;
}

.ddown {
  height: 60px !important;
  box-shadow: .5px 1px 2px #07408d;
}

.errors {
  color: #ff75a6;
  font-size: 17px;
  width: 600px;
  margin: auto;
}

.registration-button {
  width: 160px;
  margin: 20px;
  height: 60px !important;
  line-height: 60px !important;
  font-size: 20px !important;
}

.header-login {
  position: absolute;
  right: 0px;
  top: 0px;
  color: white;
}

.log-in-button {
  width: 110px;
  margin: 20px 0px 20px 20px;
}

.sign-up-form>form>input {
  box-shadow: 0px 1px 1px 1px #07408d;
}

.image-container {
  width: 880px;
  margin: auto;
  color: #3260c7;
  font-weight: 400;
}

.entry-image>img {
  height: 160px;
  width: auto;
  display: block;
  margin: auto;
}


.entry-image {
  text-align: center;
  display: block;
  float: left;
  width: 250px;
  margin: 20px;
}
