.nav-bar {
  height: 46px;
  width: 100%;
  padding: 10px;
  line-height: 46px;
  border-bottom: .5px solid #6391f3;
  min-width: 700px;
  position: fixed !important;
  top: 0;
  box-shadow: 1px 1px 14px #13458b;
  z-index: 100;
}

.logged-in-main {
  margin-top: 100px;
}

.nav-left {
  display: inline-block;
  float: left;
  margin-left: 20px;
  line-height: 46px;
}

.nav-left>img {
  height: 36px;
  width: auto;
  margin: 5px 20px 3px 10px;
  display: inline-block;
  float: left;
}

.nav-right {
  display: inline-block;
  float: right;
  margin-right: 20px;
  line-height: 46px;
}

.log-out-button {
  width: 100px;
  margin-right: 16px;
  float: left;
}

.browse-button {
  width: 100px;
  margin-right: 16px;
}

.main-page {
  padding-bottom: 100px;
}

.header-logo>img {
  height: 70px;
  width: auto;
  display: inline-block;
}

.header-logo {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 0;
  height: 70px;
  width: 100%;
  float: right;
  text-align: center;
}

.mini-pic-container {
  height: 40px;
  width: 40px;
  margin: 0px 20px 2px 0px;
  display: inline-block;
  float: left;
  background-color: #104DA1;
  border: .5px solid;
  border-color: #6391f3;
}

.display-inbox-badge {
  display: inline-block;
  height: 22px;
  min-width: 13px;
  line-height: 22px;
  border-radius: 50%;
  margin: 5px;
  background-image: linear-gradient(rgba(255, 94, 121, 0), rgba(127, 4, 25, 0.15));
  background-color: #ed3654;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 5px;
  transition: all 1.2s cubic-bezier(0.67, 0.06, 0, 0.85);
}

.hide-inbox-badge {
  display: none;
}

.badge-flash {
  background-color: rgb(255, 231, 22);

  transition: all .1s cubic-bezier(0.67, 0.06, 0, 0.85);
}
