.nav-bar {
  height: 46px;
  width: 100%;
  padding: 10px;
  line-height: 46px;
  border-bottom: .5px solid #6391f3;
  min-width: 700px;
  position: fixed !important;
  top: 0;
  box-shadow: 1px 1px 14px #13458b;
  z-index: 100;
}

.logged-in-main {
  margin-top: 100px;
}

.nav-left {
  display: inline-block;
  float: left;
  margin-left: 20px;
  line-height: 46px;
}

.nav-left>img {
  height: 36px;
  width: auto;
  margin: 5px 20px 3px 10px;
  display: inline-block;
  float: left;
}

.nav-right {
  display: inline-block;
  float: right;
  margin-right: 20px;
  line-height: 46px;
}

.log-out-button {
  width: 100px;
  margin-right: 16px;
  float: left;
}

.browse-button {
  width: 100px;
  margin-right: 16px;
}

.main-page {
  padding-bottom: 100px;
}

.header-logo>img {
  height: 70px;
  width: auto;
  display: inline-block;
}

.header-logo {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 0;
  height: 70px;
  width: 100%;
  float: right;
  text-align: center;
}

.mini-pic-container {
  height: 40px;
  width: 40px;
  margin: 0px 20px 2px 0px;
  display: inline-block;
  float: left;
  background-color: #104DA1;
  border: .5px solid;
  border-color: #6391f3;
}

.display-inbox-badge {
  display: inline-block;
  height: 22px;
  min-width: 13px;
  line-height: 22px;
  border-radius: 50%;
  margin: 5px;
  background-image: linear-gradient(rgba(255, 94, 121, 0), rgba(127, 4, 25, 0.15));
  background-color: #ed3654;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 5px;
  transition: all 1.2s cubic-bezier(0.67, 0.06, 0, 0.85);
}

.hide-inbox-badge {
  display: none;
}

.badge-flash {
  background-color: rgb(255, 231, 22);

  transition: all .1s cubic-bezier(0.67, 0.06, 0, 0.85);
}

.chat-mail-symbol {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  float: right;
  padding: 0px 12px;
  line-height: 50px;
  cursor: pointer;
  border-radius: 5px 0px 0px 0px;
  background-image: linear-gradient(#e6eaf2,#737984);;
  background-color: #e6eaf2;
  box-shadow: -2px 0px 9px -4px #101010;
  z-index: 3;
}

.chat-mail-symbol:hover {
  background-color: #ffd83b;
  background-image: none;
}

.chat-pane {
  position: fixed;
  display: block;
  bottom: 0;
  right: 0;
  background-color: transparent;
  height: 50px;
  border-radius: 5px 0px 0px 0px;

}

.chat-bar {
  /*background-color: grey;*/
  display: inline-block;
  position: relative;
  height: 40px;
  float: right;
  bottom: 0;
  right: 40px;
  margin-top: 10px;
  /*background-color: #e6eaf2;*/
  z-index: 2;
  transition: max-width 2s cubic-bezier(0.77, 0.14, 0.21, 0.87);
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.chat-bar-container {
  position: absolute;
  bottom: 40px;
  right: 52px;
  height: 320px;
  width: 240px;
  background-color: transparent;
  box-shadow: -1px -1px 5px -2px grey;
  border: 1px solid lightsteelblue;
  overflow: hidden;
  border-radius: 10px 10px 0px 10px;
}

.chat-pane {
  /*position: relative;*/
  display: inline-block;
  float: left;
}

.single-chat-on-bar {
  display: inline-block;
  float: left;
  width: 200px;
  bottom: 0;
  right: 0px;
  padding: 0px 4px 4px 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 36px;
  background-image: linear-gradient(#f1f4fa,#b9b9b9);
  background-color: #e6eaf2;
  border-radius: 1px 0px 0px 0px;
  border: .5px solid #c1c1c1;
}

.single-chat-on-bar:hover {
  background-color: #ffd83b;
}
.chat-pane .thread-messages {
  position: absolute;
  right: 0;
  bottom: 40px;
  background: white;
  width: 230px;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 13px !important;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}

.chat-pane .chat-profile-pic-container {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  margin: 4px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-pane .chat-profile-pic-container>img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.chat-pane .thread-new-message-form {
  width: 240px;
  padding: 0px;
  height: 40px;
  display: block;
  position: absolute;
  right: 0;
  bottom: -50px;
  border: 0px;
  margin: 0px;
}

.chat-pane textarea {
  width: 192px;
  display: inline-block;
  float: left;
  padding: 4px;
  bottom: 0;
  height: 32px !important;
  font-size: 12px !important;
  background-color: white;
  color: black;
  margin: 0px;
  border-radius: 0px 0px 0px 10px;
}

.chat-pane .message-send-button {
  width: 40px;
  height: 40px !important;
  font-size: 12px !important;
  padding: 0px;
  margin: 0px;
  box-shadow: none;
  border-radius: 0px;
  display: inline-block;
  float: right;
}

.chat-pane .thread-notification {
  width: 204px !important;
}

.mail-glowing {
  background-image: none;
  background-color: #e93d59;
  transition: background-color 2s cubic-bezier(0, 3, 1, -2);;
}
