.profile-container {
  width: 800px;
  margin: auto;
  margin-top: 30px;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: .5px .8px 1px #07408d;
}

.profile-vitals>h1 {
  font-weight: 300;
  font-size: 30px;
}

.profile-vitals>h2 {
  font-weight: 300;
  font-size: 20px;
  color: grey;
}

.profile-pic-container {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  overflow: hidden;
  margin: 10px;
  display: inline-block;
  float: left;
  background-color: #104DA1;
}

.profile-pic-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-vitals  {
  display: inline-block;
  float: left;
  margin: 80px 0px 80px 10px;
}

.profile-header {
  display: block;
  height: 240px;
}

.num2 {
  background-color: pink;
}

.profile-main {
  width: 800px;
  margin: 0 auto;
}
.profile-text {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  width: 580px;
  left: 0px;
  vertical-align: top;
  padding-right: 20px;

}


h3 {
  font-weight: 600;
  color: #2662b6;
  font-size: 19px;
  margin-top: 0px;
}

.profile-text>div>p {
  font-weight: 200;
  color: black;
  font-size: 16px;
  margin-bottom: 40px;
}

.profile-text>div>div>p {
  font-weight: 200;
  color: black;
  font-size: 16px;
  margin-bottom: 28px;
}

.profile-text>div>h3>input {
  background: transparent;
  color: #29d58f;
  border: .5px solid;
  border-color: #dbe9fe;
  font-weight: 300;
  width: 40px;
  height: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border-radius: 4px;
  text-align: center;
  line-height: 16px;
  margin-left: 10px;
  padding: 3px;
}

.profile-looking-for {
  display: inline-block;
  right: 0px;
  width: 158px;
  vertical-align: top;
  text-align: left;
  border: .5px solid;
  border-color: #dbe9fe;
  padding: 20px;
  border-radius: 10px;
}


.profile-looking-for>ul>li {
  list-style-type: circle;
  margin-left: 20px;
}

.profile-edit-textarea {
  width: 560px;
  height: auto;
  margin-bottom: 40px;
  border: .5px solid;
  border-color: #dbe9fe;
  padding: 10px;

}

.profile-new-message-form {
  width: 780px;
  min-height: 90px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0px;;
  font-size: 20px;
  border: .5px solid;
  border-color: #dbe9fe;
  border-radius: 10px;
  display: inline-block;
}

.image-preview {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
}

.image-preview[src=""] {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.add-photo-form {
  height: 40px;
  margin-bottom: 20px;
}

.add-photo-form>form {
  display: inline-block;
}
.submit-photo-button {
  display: inline-block;
  float: left;
  background-color: #29d58f;
  color: white;
  width: 60px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  box-shadow: 1px 1px 2px #b1d9de;
}

.file-upload {
  display: inline-block;
  float: left;
  width: 220px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.file-upload::-webkit-file-upload-button {

  display: block;
  float: left;
  background-color: #29d58f;
  color: white;
  width: 80px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  border: 0px;
  box-shadow: 1px 1px 2px #b1d9de;
  padding: 0px;
}

.file-upload::-webkit-file-upload-button:focus {
  background-color: red;

}

.modal-match-photos {
  height: 600px;
  display: block;
  overflow: hidden;

}

.modal-match-photos>img {
  height: 600px;
  width: auto;
  display: block;
  margin: auto;
}

.slick-prev {
  margin-left: 5px;
}

.slick-next {
  margin-right: 5px;
}
