.profile-container {

}

.profile-vitals>h1 {
  font-weight: 300;
  font-size: 30px;
}

.profile-vitals>h2 {
  font-weight: 300;
  font-size: 20px;
  color: grey;
}

.profile-pic-container {
  height: 200px;
  width: 200px;
  margin: 10px;
  display: inline-block;
  float: left;
  background-color: #104DA1;
}

.profile-vitals  {
  display: inline-block;
  float: left;
  margin: 80px 0px 80px 10px;
}

.profile-header {
  display: block;
  height: 240px;
}

.profile-fixed-header {
  display: block;
  position: fixed;
  height: 120px;
  top: 67px;
  left: 0px;
  width: 100%;
  background-color: #104DA1;
  text-align: center;
  border-bottom: .5px solid #6391f3;
  box-shadow: 1px 1px 14px #13458b;
}

.profile-fixed-header div {
  display: inline-block;
}

.profile-fixed-header .fixed-center-cont {
  display: inline-block;
  margin: auto;
  width: 900px;
}

.profile-fixed-header .profile-pic-container {
  width: 96px;
  height: 96px;
  float: left;
  margin-left: 0px;
}

.profile-fixed-header .search-match-percentage {
  float: left;
  line-height: 30px;
  margin: 0px !important;
  text-align: left;
}

.profile-fixed-header .profile-vitals {
  float: left;
  line-height: 30px;
  margin: 14px 10px;
  color: white;
  text-align: left;
}

.profile-fixed-header h1 {
  font-size: 22px;
}

.profile-fixed-header h2 {
  font-size: 18px;
}

.profile-fixed-header .profile-new-message-form {
  width: 510px;
  height: 80px;
  display: inline-block;
  float: right;
  border: 0px;
}

.fixed-center-cont>.profile-new-message-form {
  margin: 10px 0px;
}

.profile-fixed-header textarea {
  width: 400px;
  height: 60px !important;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-right: 0px;
  border-radius: 10px 0px 0px 10px
}



.profile-fixed-header .profile-like-toggle {
  display: inline-block;
  float: right;
  text-align: center;
}

.profile-fixed-header input[type="submit"] {
  width: 80px;
  height: 80px !important;
  font-size: 16px;
  display: inline-block;
  float: right;
  margin: 10px 0px;
  border-radius: 0px 10px 10px 0px
}

.num2 {
  background-color: pink;
}

.profile-main {
  width: 800px;
  margin: 0 auto;
}
.profile-text {
  display: inline-block;
  width: 580px;
  left: 0px;
  vertical-align: top;
  padding-right: 20px;

}

.profile-text>div>p {
  font-weight: 200;
  color: black;
  font-size: 16px;
  margin-bottom: 40px;
}

.profile-text>div>div>p {
  font-weight: 200;
  color: black;
  font-size: 16px;
  margin-bottom: 28px;
}

.profile-text>div>h3>input {
  width: 40px;
  margin-left: 10px;
}

.profile-looking-for {
  display: inline-block;
  right: 0px;
  width: 158px;
  vertical-align: top;
  text-align: left;
  padding: 20px;
}


.profile-looking-for>ul>li {
  list-style-type: circle;
  margin-left: 20px;
}

.profile-edit-textarea {
  width: 560px;
  height: auto;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 0px !important;

}

.profile-new-message-form {
  width: 780px;
  min-height: 90px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 0px;;
  font-size: 20px;
  display: inline-block;
}

.image-preview {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: none;
  outline: none;
  background-color: transparent;
}

.image-preview[src=""] {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.add-photo-form {
  height: 40px;
  margin-bottom: 20px;
}

.add-photo-form>form {
  display: inline-block;
}
.submit-photo-button {
  display: inline-block;
  float: left;
  width: 60px;
  height: 20px !important;
  font-size: 12px !important;
  line-height: 20px !important;
  box-shadow: 1px 1px 2px #b1d9de;
}

.file-upload {
  display: inline-block;
  float: left;
  width: 220px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.file-upload::-webkit-file-upload-button {

  display: block;
  float: left;
  background-color: #29d58f;
  color: white;
  width: 80px;
  height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  border: 0px;
  box-shadow: 1px 1px 2px #b1d9de;
  padding: 0px;
}

.file-upload::-webkit-file-upload-button:focus {

}

.modal-match-photos {
  height: 600px;
  display: block;
  overflow: hidden;

}

.modal-match-photos>img {
  height: 600px;
  width: auto;
  display: block;
  margin: auto;
}

.slick-prev {
  margin-left: 5px;
}

.slick-next {
  margin-right: 5px;
}

.profile-like-toggle {
  display: inline-block;
  float: right;

}

.select-user-page {
  display: block;
  border-bottom: 2px solid #edf0f5;
  margin-bottom: 30px;
}

.select-user-page ul {
  margin-left: 5px;
}

.select-user-page li {
  display: inline-block;
  float: left;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0px 10px;
}

.select-user-page li:hover {
  box-shadow: 0px 3px #4d7de9;
  cursor: pointer;

  /*box-shadow: 0px 6px 4px -4px #3260c7;*/
}

.selected-user-page {
  box-shadow: 0px 3px #3260c7;

  /*box-shadow: 0px 6px 4px -4px #3260c7;*/
}

.edit-photo-container {
  z-index: 1;
}

.user-edit-photos {
  margin: 12px auto 44px auto;
  display: block;
  position: relative;
  width: 700px;
}

.user-edit-photos img {
  box-shadow: 1px 1px 16px -2px #343434;
}

.photo-edit-buttons {
  position: absolute;
  width: 208px;
  display: block;
  margin: auto;
  z-index: 2;
  border-radius: 0px 0px 4px 0px;
  background-color: rgba(0, 0, 0, 0.48);
}

.photo-edit-buttons button {
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.51);
}

.photo-edit-buttons button:hover {
  color: #21ffa0;
}
