.search-container {
  width: 840px !important;
  padding: 40px 20px !important;
}

.search-criteria {
  width: 720px;
  height: 70px;
  margin: auto;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}
.search-drop-down {
  display: inline-block;
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  height: 40px;
  width: 180px;
  padding: 10px 10px 10px 20px;
  margin: 20px;
  border: .5px solid;
  border-color: #8cb7f7;
  text-align: left;
}

.search-button {
  display: inline-block;
  float: right;
  width: 100px;
  margin: 16px;
}

.profile-search-vitals>h1 {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.profile-search-vitals>h3 {
  font-weight: 300;
  font-size: 14px;
  color: grey;
  text-align: center;
  margin: 2px;
}

.profile-search-vitals>h2 {
  font-weight: 300;
  font-size: 16px;
  color: grey;
  text-align: center;
}

.profile-search-pic-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: block;
  background-color: #104DA1;
}

.profile-search-pic-container>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-search-vitals  {
  display: block;
  margin: 12px 0px 0px 0px;
}

.profile-search-box {
  display: inline-block;
  height: 380px;
  width: 234px;
  border-radius: 5px;
  margin: 0px 16px 30px 16px;
  overflow: hidden;
  box-shadow: 1px .5px 10px #e2e1e0;
}

.matches-container {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.like-button {
  display: block;
  margin: auto;
  width: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 44px;
  border-radius: 4px;
  text-align: center;
  line-height: 44px;
  border: 1px solid;
  border-color: #ffd83b;
  box-shadow: 1px 1px 2px #e4e4e4;
}

.liked-state {
  font-size: 28px;
  background-color: #ffd83b;
  color: white;
}

.unliked-state {
  font-size: 24px;
  background-color: white;
  color: #ffd83b;
}

.search-match-percentage {
  font-size: 20px;
  display: block;
  text-align: center;
  font-weight: 500;
  margin: 5px auto;
}

/*.mp-green {
  color: #29d58f
}

.mp-blue {
  color: #2662b6;
}

.mp-yellow {
  color: #dbb92e
}

.mp-orange {
  color: #e38c52;
}

.mp-red {
  color: #e93d59;
}*/
